<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="container"></div>
  </body>

  <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    
  </script>
  <script src="/script.min.js"></script>
</html>
